<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <link href="/styles/default.css" rel="stylesheet">
</head>
<body>
<p><img src="1.png" width="10" height="10"/>{{ msg }}</p>
</body>
</html>
